# Each line is a file pattern followed by one or more owners.

# global
* @buchi-busireddy @tim-mwangi @inespo @rleiwang-traceableai @avinashkolluru @kotharironak

# GH action
.github/ @aaron-steinfeld @jbahire @kotharironak @buchi-busireddy